<h1>Profile Page</h1>
<h3>Username: <%= @user.name %>  </h3>
<h3>Age: <%= @user.age %>  </h3>
<h3>Gender: <%= @user.gender %>  </h3>

<p>
  Created <%= time_ago_in_words(@user.created_at, include_seconds: true) %> ago
</p>
<!-- 
<%= link_to 'Logout', logout_path, method: :delete %> <br>
-->
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'> <br>
<% end %>
<%= link_to 'Edit Profile', edit_user_path(@user), class:"btn btn-primary"  %> <br>

<!-- Doesn't work -->
<%#= link_to 'Delete Account', new_user_path(@user), method: :delete %>
<%= form_tag ({controller: 'users', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='Delete Account'> <br>
<% end %>