<h1>Create a New Post</h1>

  <%= form_for @post do |f| %>
  
    <%= f.label :name %>
    <%= f.text_field :name %>
 
 <br>
    <%= f.label :descripton %>
    <%= f.text_area :description %>


    <%= f.label :like %>
    <%= f.number_field :like %>
  

    <%= f.hidden_field :user_id, value: current_user.id %>


    <%= f.label :video %>
    <%= f.file_field :video, accept: 'video/mp4'%>
    


    <%= f.submit class:"btn btn-primary" %>
    
    <% end %>

    <br>
    <strong><% if @post.errors.full_messages.any? %>
  <% @post.errors.full_messages.each do |error_message| %>
    <div style="color:red"> <%= error_message %>! </div> 
  <% end %>
<% end %><strong>
  
