<h1>Post Partial</h1>
<div>
  <%= form_for @post do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :descripton %>
    <%= f.text_area :description %>

    <%= f.label :like %>
    <%= f.number_field :like %>

    <%= f.hidden_field :user_id, :value => 1 %>

    <%= f.submit %>
  <% end %>
</div>