<h1>Welcome to your post</h1>
<h3>Title: <%= @post.name %>  </h3>
<h3>Description: <%= @post.description %>  </h3>
<p>Like: <%= @post.like %> </p>
<p>
  Submitted <%= time_ago_in_words(@post.created_at, include_seconds: true) %> ago
</p>

<%= link_to 'Edit', edit_post_path(@post) %> <br>
<%= link_to 'Delete', new_post_path(@post), method: :delete %>
<!-- Put Video here -->

<h3>Comments</h3>
<%= render partial: "posts/comment", collection: @post.comments.reverse %>

<%= render partial: "comments/form" %>
